body{
    background-color:rgb(24, 23, 23);
    
    text-align: center;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 33vw;
    color: rgb(252, 252, 252);
}

section{
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
    margin: auto;
}

#botao{
    background-color:dimgray;
    width: 150px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    color: white;
    bottom: auto;
    cursor: pointer;
}

.form{
    margin: 10px;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    background-color:dimgray;
    color: white;
    width: 200px;
}